login_smtp.txt
Wichteln_Test_mails.ipynb
.ipynb_checkpoints/Wichteln_Test_mails-checkpoint.ipynb
token.json
credentials.json
adressen.txt
quickstart.py
previous_wichtel_pairs.txt
previous_wichtel_pairs.xlsx
